@import "vars";
@import "global";
@import "fonts";

.header__inner{
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.header__logo{
  color: #fff;
  @include mf700;
  font-size: 30px;
  margin-bottom: 11px;
  transition: .3s;
  &:hover{
    color: $yellow;
  }
}
.header__menu{
  margin-right: 23px;
  margin-left: auto;
  li{
    display: inline-block;
    margin-left: 27px;
    margin-right: 27px;
  }
  a{
    @include mf400;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    padding-bottom: 8px;
    border-bottom: 3px solid transparent;
    transition: .3s;
    &:hover,
    &:focus{
      color: $yellow;
      border-bottom: 3px solid $yellow;
    }
  }
}
.header__shopping-cart{
  margin-right: 40px;
  margin-bottom: 11px;
  &:hover path,
  &:focus path{
    fill: $yellow;
  }
}
.header__search{
  margin-right: 0;
  margin-bottom: 11px;
   &:hover path,
   &:focus path{
    fill: $yellow;
  }
}

// INTRO
.intro__bg{
  padding-top: 220px;
  margin-top: -65px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  margin-bottom: 85px;
}
.intro__inner{
  text-align: center;
}
.intro__suptitle{
  color: #fff;
  font-size: 72px;
  margin-bottom: 30px;
}
.intro__title{
  color: #fff;
  font-size: 150px;
  text-transform: uppercase;
  line-height: 140px;
  margin-bottom: 70px;
}
.intro__line{
  background-color: #fff;
  margin-bottom: 45px;
}
.intro__btn{
  color: #fff;
  font-size: 14px;
  @include mf700;
  padding: 15px 33px;
  border: 3px solid #fff;
  transition: .3s;
  &:hover{
    color: $red;
    border: 3px solid $red;
  }
}
.intro__slider{
  position: absolute;
  bottom: 30px;
  max-width: 1200px;
  width: 100%;
}
.intro__slider-inner{
  display: flex;
  justify-content: space-between;
}
.intro__slider-item{
  max-width: 280px;
  &:hover{
    .intro__slider-line{
      background-color: $red;
    }
    .intro__slider-text{
      color: $red;
    }
  }
}
.intro__slider-line{
  width: 280px;
  height: 3px;
  background-color: #fff;
  margin-bottom: 25px;
  transition: .3s;
}
.intro__slider-text{
  text-transform: uppercase;
  @include mf400;
  font-size: 18px;
  color: #fff;
  transition: .3s;
  span{
    @include mf700;
    font-size: 24px;
  }
}

// ABOUT
.about__inner{
  text-align: center;
}
.about__item-wrapper{
  margin-bottom: 110px;
  display: flex;
  justify-content: space-between;
}
.about__item{
  max-width: 380px;
  height: 250px;
}
.about__item-rectangle{
  width: 380px;
  height: 250px;
  background-color: $blue;
}
.about__item-img{
  transition: .3s;
}
.about__item-rectangle:hover{
  .about__item-img{
    transform: translate(-10px, -10px);
  }
  .about__item-text{
    display: inline-block;
    opacity: 1;
  }
  .about__item-img__gradient{
    opacity: .9;
  }
}
.about__item-img__gradient{
  position: absolute;
  top: 0;
  left: 0;
  width: 380px;
  height: 250px;
  background: linear-gradient(0deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
  text-transform: uppercase;
  opacity: 0;
  transition: .1s;
}
.about__item-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  text-transform: uppercase;
  color: #fff;
  @include mf700;
  font-size: 18px;
  opacity: 0;
  transition: .1s;
  &:before{
    position: absolute;
    content: '';
    background-image: url(../img/svg/users.svg);
    width: 32px;
    height: 23px;
    top: -31px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.about-facts{
  background-color: $blue;
  height: 270px;
  margin-bottom: 100px;
}
.about-facts__inner{
  display: flex;
}
.about-facts__item{
  width: 240px;
  height: 270px;
  color: #fff;
  display: flex;
  align-items: center;
  border-left: 1px solid rgba(255, 255, 255, .3);
  border-right: 1px solid rgba(255, 255, 255, .3);
}
.about-facts__item-wrapper{
  text-align: center;
  margin: 0 auto;
}
.about-facts__item-num{
  @include mf700;
  font-size: 72px;
  margin-bottom: 10px;
}
.about-facts__item-info{
  @include mf400;
  font-size: 14px;
  text-transform: uppercase;
}
.service__inner{
  margin-bottom: 80px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  &::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    bottom: 0px;
    background-color: #fff;
  }
}
.service__item{
  width: 400px;
  padding: 45px 25px 45px 30px;
  border-bottom: 1px solid #e5e5e5;
}
.service__item-wrapper{
  padding-left: 60px;
  position: relative;
  &::before{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
  }
}
.service__item-svg1{
  &::before{
    background-image: url(../img/svg/alarm.svg);
    width: 32px;
    height: 31px;
  }
}
.service__item-svg2{
  &::before{
    background-image: url(../img/svg/graph.svg);
    width: 32px;
    height: 32px;
  }
}
.service__item-svg3{
  &::before{
    background-image: url(../img/svg/computer.svg);
    width: 32px;
    height: 28px;
  }
}
.service__item-svg4{
  &::before{
    background-image: url(../img/svg/book.svg);
    width: 32px;
    height: 32px;
  }
}
.service__item-svg5{
  &::before{
    background-image: url(../img/svg/home.svg);
    width: 32px;
    height: 31px;
  }
}
.service__item-svg6{
  &::before{
    background-image: url(../img/svg/image.svg);
    width: 32px;
    height: 32px;
  }
}
.service__item-title{
  @include mf700;
  font-size: 14px;
  color: $head;
  margin-bottom: 15px;
  text-transform: uppercase;
}

// FEATURE
.feature__bg{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 850px;
  padding-top: 100px;
  margin-bottom: 100px;
}
.feature__img{
  left: 48%;
  transform: translateX(-48%);
  position: absolute;
  padding-top: 9px;
  &::after{
    position: absolute;
    content: '';
    background-image: url(../img/phone.png);
    width: 208px;
    height: 439px;
    bottom: -50px;
    right: -25%;
  }
}

// EXAMPLES
.examples__inner{
  margin-bottom: 120px;
  display: flex;
  justify-content: space-between;
}

// Accordion
.examples{
  .accordion{
    width: 600px;
    height: 60px;
    margin: 0 auto;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(225,225,225,1);
    overflow: hidden;
    transition: height 0.3s ease;
    margin-bottom: 10px;
  }
  .accordion .accordion_tab{
    display: flex;
    height: 60px;
    align-items: center;
    padding: 20px 20px 20px 20px;
    cursor: pointer;
    user-select: none;
    font-size: 14px;
    @include mf700;
    color: $head;
    text-transform: uppercase;
    position: relative;
    img{
      display: inline-block;
      padding-right: 15px;
    }
  }
.accordion .accordion_tab .accordion_arrow{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  width: 22px;
  height: 12px;
  transition: all 0.3s ease;
}
.accordion .accordion_tab.active .accordion_arrow{
  transform: translateY(-50%) rotate(180deg);
}
.accordion.active{
  height: 240px;
}
.accordion .accordion_content{
  padding: 20px;
  border-top: 1px solid #e9e9e9;
}
.accordion_item{
  overflow-y: scroll;
  max-height: 140px;
  @include rf300i;
  line-height: 24px;
}
}
// Accordion

.slider__item-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}
.examples__slider{
  height: 290px;
  background-color: #f8f8f8;
  margin-bottom: 90px;
  padding-top: 70px;
  .slider__item-logo{
    width: 150px;
    height: 150px;
    border: 3px solid $blue;
    position: relative;
    margin-right: 60px;
    &:before{
      position: absolute;
      content: '';
      background-image: url(../img/svg/messages.svg);
      width: 63px;
      height: 61px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
.slider__item-info{
  max-width: 780px;
  p{
    @include rf300i;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 20px;
  }
}
.slider__item-img{
  margin-right: 30px;
}
.slider__item-text{
  @include kf400;
  font-size: 24px;
  color: $head;
  padding-left: 70px;
  position: relative;
  &::before{
    position: absolute;
    content: '';
    width: 60px;
    height: 3px;
    background-color: $red;
    top: 50%;
    left: 0;
  }
}
.slick-arrow{
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  top: 50%;
  position: absolute;
  z-index: 2;
}
.arrow__prev{
  left: 20px;
}
.arrow__next{
  right: 20px;
}

// TEAM
.team__inner{
  display: flex;
  justify-content: space-between;
}
.team__item{
  max-width: 380px;
  height: 470px;
  text-align: center;
  margin-bottom: 110px;
}
.team__item-rectangle{
  width: 380px;
  height: 470px;
  background-color: $blue;
  margin-bottom: 30px;
  position: relative;
}
.team__item-img{
  transition: .3s;
}
.team__item-rectangle:hover{
  .team__item-img{
    transform: translate(-10px, -10px);
  }
  .team__item-img__gradient{
    opacity: .9;
  }
  .team__icons-wrapper{
    opacity: 1;
  }
}
.team__item-img__gradient{
  position: absolute;
  top: 0;
  left: 0;
  width: 380px;
  height: 470px;
  background: linear-gradient(0deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
  text-transform: uppercase;
  opacity: 0;
  transition: .1s;
}
.team__item-name{
  @include mf700;
  font-size: 14px;
  color: $head;
  margin-bottom: 3px;
  text-transform: uppercase;
}
.team__item-post{
  @include rf300i;
  line-height: 24px;
}
.team__icons-wrapper{
  position: absolute;
  top: 48%;
  left: 46%;
  transform: translate(-48%, -46%);
  display: flex;
  opacity: 0;
  transition: .1s;
}
.team__icons-item{
  width: 56px;
  height: 56px;
  background-color: $yellow;
  position: relative;
  transition: .3s;
  svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  & + .team__icons-item{
    border-left: 1px solid $red;
  }
  &:hover, &:focus{
    background-color: $red;
    path{
      fill: #fff;
    }
  }
}
.team__logo{
  height: 250px;
  height: 100%;
  background-color: #f8f8f8;
  margin-bottom: 100px;
}
.team__logo-inner{
  min-height: 250px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-left: -45px;
  margin-right: -45px;

}
.team__logo-item{
  margin: 15px 45px 15px;
}

// WORK
.work__inner{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4);
  margin-bottom: 100px;
}
.work-img{
  position: relative;
  width: 480px;
  height: 390px;
  &:hover{
    .work-img__gradient{
      opacity: .9;
    }
    .work-img__link{
      opacity: 1;
    }
  }
}
.work-img__gradient{
  position: absolute;
  top: 0;
  left: 0;
  width: 480px;
  height: 390px;
  background: linear-gradient(0deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
  opacity: 0;
  transition: .1s;
}
.work-img__link{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: .1s;
}
.work-img__link-logo{
  margin-bottom: 20px;
}
.work-img__link-title{
  margin-bottom: 10px;
  text-transform: uppercase;
  @include mf700;
  color: #fff;
  font-size: 14px;
}
.work-img__link-info{
  @include rf300i;
  font-size: 15px;
  color: #fff;
  line-height: 24px;
}
.grid1{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.grid2{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
.grid3{
  height: 780px;
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 4;
  .work-img__gradient{
    height: 780px;
  }
}
.grid4{
  grid-column-start: 7;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 2;
}
.grid5{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}
.grid6{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}
.grid7{
  grid-column-start: 7;
  grid-column-end: 8;
  grid-row-start: 3;
  grid-row-end: 4;
}
.work__slider{
  margin-bottom: 125px;
  .slick-arrow{
    top: 42%;
  }
}














@import "media";